<div class="small-product-blog-area pb-110">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="subtitle">
                            <h3>Top Rated</h3>
                        </div>
                        <div class="small-product-carousel owl-carousel carousel-style-dot-2">
                            <div class="small-product-wrapper">
                                <div class="single-small-product">
                                    <div class="s-product-img">
                                        <a href="shop.html"><img src="assets/img/product/outfit.jpg" alt=""></a>
                                    </div>
                                    <div class="product-text">
                                        <h5><a href="shop.html">Fashion Shoes</a></h5>
                                        <div class="rating">
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#"><i class="ion-ios-star"></i></a>
                                        </div>
                                        <div class="pro-price">
                                            <span>$100.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-small-product">
                                    <div class="s-product-img">
                                        <a href="shop.html"><img src="assets/img/product/outfit.jpg" alt=""></a>
                                    </div>
                                    <div class="product-text">
                                        <h5><a href="shop.html">Casual Shoes</a></h5>
                                        <div class="rating">
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#"><i class="ion-ios-star"></i></a>
                                        </div>
                                        <div class="pro-price">
                                            <span class="old-price">$68.00</span>
                                            <span class="new-price">$65.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-small-product">
                                    <div class="s-product-img">
                                        <a href="shop.html"><img src="assets/img/product/outfit.jpg" alt=""></a>
                                    </div>
                                    <div class="product-text">
                                        <h5><a href="shop.html">Fashion Wears</a></h5>
                                        <div class="rating">
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#"><i class="ion-ios-star"></i></a>
                                        </div>
                                        <div class="pro-price">
                                            <span>$55.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="small-product-wrapper">
                                <div class="single-small-product">
                                    <div class="s-product-img">
                                        <a href="shop.html"><img src="assets/img/product/outfit.jpg" alt=""></a>
                                    </div>
                                    <div class="product-text">
                                        <h5><a href="shop.html">Fashionable Bag</a></h5>
                                        <div class="rating">
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#"><i class="ion-ios-star"></i></a>
                                        </div>
                                        <div class="pro-price">
                                            <span>$100.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-small-product">
                                    <div class="s-product-img">
                                        <a href="shop.html"><img src="assets/img/product/outfit.jpg" alt=""></a>
                                    </div>
                                    <div class="product-text">
                                        <h5><a href="shop.html">Summer Shoes</a></h5>
                                        <div class="rating">
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#"><i class="ion-ios-star"></i></a>
                                        </div>
                                        <div class="pro-price">
                                            <span class="old-price">$68.00</span>
                                            <span class="new-price">$65.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-small-product">
                                    <div class="s-product-img">
                                        <a href="shop.html"><img src="assets/img/product/outfit.jpg" alt=""></a>
                                    </div>
                                    <div class="product-text">
                                        <h5><a href="shop.html">Winter Sunglass</a></h5>
                                        <div class="rating">
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#"><i class="ion-ios-star"></i></a>
                                        </div>
                                        <div class="pro-price">
                                            <span>$55.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="subtitle">
                            <h3>On Sale</h3>
                        </div>
                        <div class="small-product-carousel owl-carousel carousel-style-dot-2">
                            <div class="small-product-wrapper">
                                <div class="single-small-product">
                                    <div class="s-product-img">
                                        <a href="shop.html"><img src="assets/img/product/outfit.jpg" alt=""></a>
                                    </div>
                                    <div class="product-text">
                                        <h5><a href="shop.html">Discount Shoes</a></h5>
                                        <div class="rating">
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#"><i class="ion-ios-star"></i></a>
                                        </div>
                                        <div class="pro-price">
                                            <span class="old-price">$68.00</span>
                                            <span class="new-price">$65.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-small-product">
                                    <div class="s-product-img">
                                        <a href="shop.html"><img src="assets/img/product/outfit.jpg" alt=""></a>
                                    </div>
                                    <div class="product-text">
                                        <h5><a href="shop.html">Wrist Watch</a></h5>
                                        <div class="rating">
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#"><i class="ion-ios-star"></i></a>
                                        </div>
                                        <div class="pro-price">
                                            <span>$100.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-small-product">
                                    <div class="s-product-img">
                                        <a href="shop.html"><img src="assets/img/product/outfit.jpg" alt=""></a>
                                    </div>
                                    <div class="product-text">
                                        <h5><a href="shop.html">Branded Watch</a></h5>
                                        <div class="rating">
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#"><i class="ion-ios-star"></i></a>
                                        </div>
                                        <div class="pro-price">
                                            <span>$55.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="small-product-wrapper">
                                <div class="single-small-product">
                                    <div class="s-product-img">
                                        <a href="shop.html"><img src="assets/img/product/outfit.jpg" alt=""></a>
                                    </div>
                                    <div class="product-text">
                                        <h5><a href="shop.html">Fashion Wear</a></h5>
                                        <div class="rating">
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#"><i class="ion-ios-star"></i></a>
                                        </div>
                                        <div class="pro-price">
                                            <span>$100.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-small-product">
                                    <div class="s-product-img">
                                        <a href="shop.html"><img src="assets/img/product/outfit.jpg" alt=""></a>
                                    </div>
                                    <div class="product-text">
                                        <h5><a href="shop.html">Discount Bag</a></h5>
                                        <div class="rating">
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#"><i class="ion-ios-star"></i></a>
                                        </div>
                                        <div class="pro-price">
                                            <span class="old-price">$68.00</span>
                                            <span class="new-price">$65.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-small-product">
                                    <div class="s-product-img">
                                        <a href="shop.html"><img src="assets/img/product/outfit.jpg" alt=""></a>
                                    </div>
                                    <div class="product-text">
                                        <h5><a href="shop.html">Summer T-Shirt</a></h5>
                                        <div class="rating">
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#" class="yellow"><i class="ion-ios-star"></i></a>
                                            <a href="#"><i class="ion-ios-star"></i></a>
                                        </div>
                                        <div class="pro-price">
                                            <span>$55.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 blog-container">
                <div class="subtitle">
                    <h3>From Our Blog</h3>
                </div>
                <div class="blog-carousel owl-carousel carousel-style-dot-2">
                    <div class="blog-item-wrapper">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a href="blog-details.html">
                                    <img src="assets/img/blog/Nature_or_man.jpg" alt="">
                                    <span>Mar<span>10</span></span>
                                </a>
                            </div>
                            <div class="blog-text">
                                <h3><a href="blog-details.html">Blog image post</a></h3>
                                <div class="blog-post-info">
                                    <span>By</span>
                                    <a href="#">admin,</a>
                                    <a href="blog-details.html">3 comments</a>
                                </div>
                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="blog-image">
                                <a href="blog-details.html">
                                    <img src="assets/img/blog/sh.jpg" alt="">
                                    <span>Dec<span>01</span></span>
                                </a>
                            </div>
                            <div class="blog-text">
                                <h3><a href="blog-details.html">Post with Gallery</a></h3>
                                <div class="blog-post-info">
                                    <span>By</span>
                                    <a href="#">admin,</a>
                                    <a href="blog-details.html">3 comments</a>
                                </div>
                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item-wrapper">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a href="blog-details.html">
                                    <img src="assets/img/blog/sh.jpg" alt="">
                                    <span>Aug<span>16</span></span>
                                </a>
                            </div>
                            <div class="blog-text">
                                <h3><a href="blog-details.html">Post with Audio</a></h3>
                                <div class="blog-post-info">
                                    <span>By</span>
                                    <a href="#">admin,</a>
                                    <a href="blog-details.html">10 comments</a>
                                </div>
                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="blog-image">
                                <a href="blog-details.html">
                                    <img src="assets/img/blog/Nature_or_man.jpg" alt="">
                                    <span>Oct<span>22</span></span>
                                </a>
                            </div>
                            <div class="blog-text">
                                <h3><a href="blog-details.html">Post with Video</a></h3>
                                <div class="blog-post-info">
                                    <span>By</span>
                                    <a href="#">admin,</a>
                                    <a href="blog-details.html">17 comments</a>
                                </div>
                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item-wrapper">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a href="blog-details.html">
                                    <img src="assets/img/blog/Nature_or_man.jpg" alt="">
                                    <span>Apr<span>10</span></span>
                                </a>
                            </div>
                            <div class="blog-text">
                                <h3><a href="blog-details.html">Fashion Event's</a></h3>
                                <div class="blog-post-info">
                                    <span>By</span>
                                    <a href="#">admin,</a>
                                    <a href="blog-details.html">22 comments</a>
                                </div>
                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="blog-image">
                                <a href="blog-details.html">
                                    <img src="assets/img/blog/sh.jpg" alt="">
                                    <span>Dec<span>01</span></span>
                                </a>
                            </div>
                            <div class="blog-text">
                                <h3><a href="blog-details.html">Summer Styles</a></h3>
                                <div class="blog-post-info">
                                    <span>By</span>
                                    <a href="#">admin,</a>
                                    <a href="blog-details.html">70 comments</a>
                                </div>
                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
